<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.UkrPravda"
        version = "0.9.9">
    <name>Українська правда Mobile</name>

    <description>
        Українська правда Mobile.Безкоштовний додаток від сайту Pravda.com.ua
    </description>

    <author href="http://proverstka.com" email="copeus@gmail.com">
        Oleg Kopachovets
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.3.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    
    <preference name="load-url-timeout" value="40000" />

	<icon src="icons/icon.png" />
	<icon src="icons/ios/icon.png" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" width="114" height="114" />

    <access origin="*"/> <!-- allow local pages -->
    
    <gap:splash src="splash.png" />
    
</widget>