<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Українська правда Mobile</title>
		<link rel="stylesheet" href="js/jquery.mobile-1.3.0.min.css" />
		<link rel="stylesheet" href="themes/ukr-pravda.min.css" />
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="js/jquery.mobile-1.3.0.min.js"></script>
		<script src="js/jsrender.js"></script>
		<script src="main.js"></script>
	</head>
	<body>
	    <!-- Home -->
        <div data-role="page" id="mainpage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b">
				<img style="width: 172px; height: 26px; margin-top:3px" src="http://pda.pravda.com.ua/images/logo_ukr.gif" />
				<a href="#settingspage" data-role="button"  data-icon="gear" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" id="settingsbutton">Налаштування</a>
				<a href="#infopage" data-role="button"  data-icon="info" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" id="infobutton">Инфо</a>
				<a href="#" data-role="button"  data-icon="refresh" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext">Обновить</a>  
			</div>
                
                <div data-role="navbar" data-iconpos="top" data>
                    <ul>
                        <li>
                            <a href="#mainpage" data-icon="home" data-transition="none" class="ui-btn-active ui-state-persist">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="#newspage" data-icon="arrow-d" data-transition="none" data-icon="menu">
                                Новости
                            </a>
                        </li>
                        <li>
                            <a href="#articlespage" data-icon="edit" data-transition="none">
                                Публикации
                            </a>
                        </li>
                        <li>
                            <a href="#blogspage" data-icon="edit" data-transition="none">
                                Блоги
                            </a>
                        </li>
                    </ul>
                </div>
				
                <dl class="news-title"> 
                </dl>
				<script id="news-title-items" type="text/x-jsrender">
                	<dt>{{>pubTime}}</dt> <dd><a class="ui-link" href="#news-{{:#index}}">{{>title}}</a> {{if enclosure}}[фото]{{/if}}</dd>
                </script>
                
                
                <div class="articles">
                </div>
                <script id="article-title-items" type="text/x-jsrender">
                <div class="article-title">
                    
                    {{if enclosure}}
					<img style="width: 115px; height: 75px" src="{{>enclosure.url}}" />
                	{{/if}}
                	<h2>
						<a class="ui-link" href="#article-{{:#index}}">{{>title}}</a>
					</h2>
					<p class="author">{{>displayDate}} _ {{>displayAuhtor}}</p>
					<p>{{>description}}</p>
                </div>
                </script>
                
                
                
            </div>
        </div>		
		
		
		<div data-role="page" id="newspage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b">
				<img style="width: 172px; height: 26px; margin-top:3px" src="http://pda.pravda.com.ua/images/logo_ukr.gif" />
				<a href="#infopage" data-role="button"  data-icon="info" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" id="infobutton">Инфо</a>
				<a href="#" data-role="button"  data-icon="refresh" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext">Обновить</a>  
			</div>                <div data-role="navbar" data-iconpos="top" data>
                    <ul>
                        <li>
                            <a href="#mainpage" data-transition="none" data-icon="home">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="#newspage" data-transition="none" data-icon="arrow-d" class="ui-btn-active ui-state-persist">
                                Новости
                            </a>
                        </li>
                        <li>
                            <a href="#articlespage" data-icon="edit" data-transition="none">
                                Публикации
                            </a>
                        </li>
                        <li>
                            <a href="#blogspage" data-icon="edit" data-transition="none">
                                Блоги
                            </a>
                        </li>
                    </ul>
                </div>
				
                <dl class="news-title"> 
                </dl>
				<script id="news-title-items" type="text/x-jsrender">
                	<dt>{{>pubTime}}</dt> <dd><a class="ui-link" href="#news-{{:#index}}">{{>title}}</a></dd>
                </script>
                             
            </div>
        </div>
        
        
        <div data-role="page" id="articlespage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b">
				<img style="width: 172px; height: 26px; margin-top:3px" src="http://pda.pravda.com.ua/images/logo_ukr.gif" />
				<a href="#infopage" data-role="button"  data-icon="info" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" id="infobutton">Инфо</a>
				<a href="#" data-role="button"  data-icon="refresh" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext">Обновить</a>  
			</div>                <div data-role="navbar" data-iconpos="top" data>
                    <ul>
                        <li>
                            <a href="#mainpage" data-transition="none" data-icon="home">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="#newspage" data-transition="none" data-icon="arrow-d">
                                Новости
                            </a>
                        </li>
                        <li>
                            <a href="#articlespage" data-icon="edit" data-transition="none" class="ui-btn-active ui-state-persist">
                                Публикации
                            </a>
                        </li>
                        <li>
                            <a href="#blogspage" data-icon="edit" data-transition="none">
                                Блоги
                            </a>
                        </li>
                    </ul>
                </div>
				
                <div class="articles">
                </div>
                <script id="article-title-items" type="text/x-jsrender">
                <div class="article-title">
                    {{if enclosure}}
					<img style="width: 115px; height: 75px" src="{{>enclosure.url}}" />
                	{{/if}}
                	<h2>
						<a class="ui-link" href="#article-{{:#index}}">{{>title}}</a>
					</h2>
					<p class="author">{{>displayDate}} _ {{>displayAuhtor}}</p>
					<p>{{>description}}</p>
                </div>
                </script>
                             
            </div>
        </div>
        
        
        <div data-role="page" id="blogspage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b">
				<img style="width: 172px; height: 26px; margin-top:3px" src="http://pda.pravda.com.ua/images/logo_ukr.gif" />
				<a href="#infopage" data-role="button"  data-icon="info" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" id="infobutton">Инфо</a>
				<a href="#" data-role="button"  data-icon="refresh" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext">Обновить</a>  
			</div>                <div data-role="navbar" data-iconpos="top" data>
                    <ul>
                        <li>
                            <a href="#mainpage" data-transition="none" data-icon="home">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="#newspage" data-transition="none" data-icon="arrow-d">
                                Новости
                            </a>
                        </li>
                        <li>
                            <a href="#articlespage" data-icon="edit" data-transition="none">
                                Публикации
                            </a>
                        </li>
                        <li>
                            <a href="#blogspage" data-icon="edit" data-transition="none" class="ui-btn-active ui-state-persist">
                                Блоги
                            </a>
                        </li>
                    </ul>
                </div>
				
                <div class="blogs">
                </div>
                <script id="blog-title-items" type="text/x-jsrender">
                <div class="blog-title">
                    {{if enclosure}}
					<img style="width: 75px; height: 75px" src="{{>enclosure.url}}" alt="{{>displayAuhtor}}"/>
                	{{/if}}
                	<h2>
						<a class="ui-link" href="#blog-{{:#index}}">{{>title}}</a>
					</h2>
					<p class="author">{{>displayDate}} _ {{>displayAuhtor}}</p>
					<p>{{>description}}</p>
                </div>
                </script>
                             
            </div>
        </div>
        
        
        
        <div data-role="page" id="textpage"  data-theme="b">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="redline">
        		 <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Назад</a> 
        		 <img style="width: 172px; height: 26px; margin-top:5px; margin-left: 100px" src="http://pda.pravda.com.ua/images/logo_ukr.gif" />
			</div>
            <div data-role="content" id="content">
            </div>
            <script id="article-full-item" type="text/x-jsrender">
           		<div class="article-title">
					<h2>
						{{>title}}
					</h2>
					<p class="author">{{>displayDate}} {{>pubTime}}  _ {{>displayAuhtor}}</p>
					{{if enclosure}}
					<img style="width: 115px; height: 75px" src="{{>enclosure.url}}" />
					{{/if}}
					<p>{{:fulltext}}</p>
                </div>
             </script>
             
			<script id="blog-full-item" type="text/x-jsrender">
           		<div class="blog-title">
					<h2>
						{{>title}}
					</h2>
					<p class="author">{{>displayDate}} {{>pubTime}}  _ {{>displayAuhtor}}</p>
					{{if enclosure}}
					<img style="width: 75px; height: 75px" src="{{>enclosure.url}}" />
					{{/if}}
					<p>{{:fulltext}}</p>
                </div>
             </script>
             
             <script id="news-full-item" type="text/x-jsrender">
           		<div class="news-full">
                	<h2>
						{{>title}}
					</h2>
					<p class="author">{{>displayDate}} {{>pubTime}}</p>
					{{if enclosure}}
					<img style="width: 115px; height: 75px" src="{{>enclosure.url}}" />
					{{/if}}
					<p>{{:fulltext}}</p>
                </div>
             </script>
			<div data-role="footer" data-add-back-btn="true" data-theme="b" class="redline">
        		 <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Назад</a>  
			</div>

        </div>
        
        
        
         <div data-role="page" id="infopage"  data-theme="b">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="redline">
        		 <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Назад</a>
  
			</div>
            <div data-role="content" id="content">
<img style="width: 172px; height: 26px; margin-top:3px" src="http://pda.pravda.com.ua/images/logo_ukr.gif" />
<p>&copy; 2000-2013 "Українська правда"</p>

<p>Передрук матеріалів тільки за наявності гіперпосилання на www.pravda.com.ua</p>

<p>Керівник проекту: Георгій Гонгадзе</p>
<p>Головний редактор: Олена Притула</p>
<p>E-mail редакції: <a href="mailto:ukrpravda@gmail.com">ukrpravda@gmail.com</a></p>
<p>Webmaster: <a href="mailto:webmaster@pravda.com.ua">webmaster@pravda.com.ua</a></p>

<p>Мобильное приложение разработано в 2013 году.</p>
<p>Разработчик: Олег Копачовец [<a href="mailto:copeus@gmail.com">copeus@gmail.com</a>]</p>            	
            </div>
        </div>
        
		<div data-role="page" id="settingspage"  data-theme="b">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="redline">
        		 <a href="#" data-role="button" data-rel="back" data-icon="arrow-l" class="back-button">Назад</a>
  				<h1>Налаштування</h1>
			</div>
            <div data-role="content" id="content">
				<label for="slider-fill">Розмiр тексту:</label>
				<input type="range" name="font-size" id="font-size" value="13" min="8" max="20" data-highlight="true" />
				<p style="text-align: center">Приклад розмiру тексту</p>
            </div>
        </div>
		
	</body>
</html>