<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Українська правда Mobile</title>
		<link rel="stylesheet" href="js/jquery.mobile-1.3.0.min.css" />
		<link rel="stylesheet" href="themes/ukr-pravda.min.css" />
		<script type="text/javascript" src="phonegap.js"></script> -->
		<script type="text/javascript" src="js/plugins/SocialSharing.js"></script>
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.mobile-1.3.0.min.js"></script>
		<script type="text/javascript" src="js/jsrender.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body>
		<!-- general header -->
		<script id="header-tmpl" type="text/x-jsrender">
				<a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Назад</a> 
        		<img style="width: 172px; height: 26px; margin-top:5px; margin-left: 100px" src="images/logo_ukr.gif" />				  
		</script>
	    <!-- Home -->
        <div data-role="page" id="mainpage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="withbar">
				<img style="width: 172px; height: 26px; margin-top:3px" src="images/logo_ukr.gif" />				
				<a href="#settingspage" data-role="button"  data-icon="gear" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" id="settings-button">Налаштування</a>
				<a href="#refresh" data-role="button"  data-icon="refresh" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" id="refresh-button">Обновити</a>
				<a href="#close" data-role="button"  data-icon="delete" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" id="close-button">Закрити</a>       		
        	</div>                


			<div data-role="navbar" data-iconpos="top" data-id="foo1"><ul>
				<li>
					<a href="#mainpage" data-icon="home" data-transition="slideup">
                                Головна
                            </a>
                        </li>
                        <li>
                            <a href="#newspage" data-icon="grid" data-transition="slideup" data-icon="menu">
                                Новини
                            </a>
                        </li>
                        <li>
                            <a href="#articlespage" data-icon="ukrpravda" data-transition="slideup">
                                Статтi
                            </a>
                        </li>
                        <li>
                            <a href="#blogspage" data-icon="blogs" data-transition="slideup">
                                Блоги
                            </a>
                        </li>
                        <li>
                            <a href="#economicspage" data-icon="epravda" data-transition="slideup">
                                Економiка
                            </a>
                        </li>                        
                        <li>
                            <a href="#tabloidpage" data-icon="tabloid" data-transition="slideup">
                                TabloID
                            </a>
                        </li>                        
                        <li>
                            <a href="#lifepage" data-icon="life" data-transition="slideup">
                                Життя
                            </a>
                        </li>
						<li>
                            <a href="#sportpage" data-icon="sport" data-transition="slideup">
                                Спорт
                            </a>
                        </li>  
			</ul></div>        		

				
                <dl class="news-title"> 
                </dl>
				<script id="news-title-items" type="text/x-jsrender">
                	<dt>{{>pubTimeDate}}</dt> <dd><a class="ui-link" href="#item-{{:#index}}">{{>title}}</a> {{if enclosure}}[фото]{{/if}}</dd>
                </script>
                
                
                <div class="articles">
                </div>
             
                <div class="blogs">
                </div>
                
                
 <button onclick="window.plugins.socialsharing.share('Українська правда', 'Кращий ресурс новин та аналiтики', 'http://www.pravda.com.ua/images/up_logo_ukr.gif', 'http://www.pravda.com.ua/')">Розповiсти друзям</button>            
 </div>
        </div>		
		
		
		<div data-role="page" id="newspage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="withbar"></div>                
			
                <dl class="news-title"> 
                </dl>

            </div>
        </div>
        
        
        <div data-role="page" id="articlespage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="withbar"></div>
			
                <div class="articles">
                </div>
                <script id="article-title-items" type="text/x-jsrender">
                <div class="article-title">
                    {{if enclosure}}
					<img style="width: 115px; height: 75px" src="{{>enclosure.url}}" />
                	{{/if}}
                	<h2>
						<a class="ui-link" href="#item-{{:#index}}">{{>title}}</a>
					</h2>
					<p class="author">{{>displayDate}} _ {{>displayAuhtor}}</p>
					<p>{{>description}}</p>
                </div>
                </script>
                             
            </div>
        </div>
        
        
        <div data-role="page" id="blogspage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="withbar"></div>
				
                <div class="blogs">
                </div>
                <script id="blog-title-items" type="text/x-jsrender">
                <div class="blog-title">
                    {{if enclosure}}
					<img style="width: 75px; height: 75px" src="{{>enclosure.url}}" alt="{{>displayAuhtor}}"/>
                	{{/if}}
                	<h2>
						<a class="ui-link" href="#item-{{:#index}}">{{>title}}</a>
					</h2>
					<p class="author">{{>displayDate}} _ {{>displayAuhtor}}</p>
					<p>{{>description}}</p>
                </div>
                </script>
                             
            </div>
        </div>
        
        
        
	    <!-- Economics -->
        <div data-role="page" id="economicspage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="withbar">
				<a href="#mainpage" data-role="button" data-rel="back" data-icon="arrow-l">На главную</a>
				<img class="logo" src="images/epravda_logo.png" />				
				<a href="#refresh" data-role="button"  data-icon="refresh" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" class="refreshbtn">Обновить</a>        	        		        		
        	</div>                
            
				
                <dl class="news-title"> 
                </dl>
                
                <div class="articles">
                </div>
             
                <div class="blogs">
                </div>
                
            </div>
        </div>	        
        
	    <!-- TabloID -->
        <div data-role="page" id="tabloidpage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="withbar">
        		<a href="#mainpage" data-role="button" data-rel="back" data-icon="arrow-l">На главную</a>
				<img class="logo" src="images/tabloid-logo.gif" />				
				<a href="#refresh" data-role="button"  data-icon="refresh" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" class="refreshbtn">Обновить</a>        	        		        		        		        		
        	</div>                
            
				
                <dl class="news-title"> 
                </dl>
                
                <div class="articles">
                </div>
             
                <div class="blogs">
                </div>
                
            </div>
        </div>	        
        
	    <!-- Life  -->
        <div data-role="page" id="lifepage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="withbar">
        		<a href="#mainpage" data-role="button" data-rel="back" data-icon="arrow-l">На главную</a>
				<img class="logo" src="images/life-logo.gif" />				
				<a href="#refresh" data-role="button"  data-icon="refresh" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" class="refreshbtn">Обновить</a>        	        		        		
        	</div>                
            
				
                <dl class="news-title"> 
                </dl>

                <div class="articles">
                </div>
             
                <div class="blogs">
                </div>
                
            </div>
        </div>
        
        <!-- Sport  -->
        <div data-role="page" id="sportpage"  data-theme="b">
            <div data-role="content">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="withbar">
        		<a href="#mainpage" data-role="button" data-rel="back" data-icon="arrow-l">На главную</a>
				<img class="logo" src="images/sport-logo.gif" />				
				<a href="#refresh" data-role="button"  data-icon="refresh" class="ui-btn-right" data-inline="true" data-mini="true" data-iconpos="notext" class="refreshbtn">Обновить</a>        	        		        		        		
        	</div>                
            
				
                <dl class="news-title"> 
                </dl>
                
                <div class="articles">
                </div>
             
                <div class="blogs">
                </div>
                
            </div>
        </div>
                
        <div data-role="page" id="textpage"  data-theme="b">
        	<div data-role="header" data-add-back-btn="true" data-theme="b"></div>
            <div data-role="content" id="content">
            </div>
            <script id="article-full-item" type="text/x-jsrender">
           		<div class="article-title">
					<h2>
						{{>title}}
					</h2>
					<p class="author">{{>displayDate}} {{>pubTime}}  _ {{>displayAuhtor}}</p>
					{{if enclosure}}
					<img style="width: 115px; height: 75px" src="{{>enclosure.url}}" />
					{{/if}}
					<p>{{:fulltext}}</p>
                </div>
             </script>
             
			<script id="blog-full-item" type="text/x-jsrender">
           		<div class="blog-title">
					<h2>
						{{>title}}
					</h2>
					<p class="author">{{>displayDate}} {{>pubTime}}  _ {{>displayAuhtor}}</p>
					{{if enclosure}}
					<img style="width: 75px; height: 75px" src="{{>enclosure.url}}" />
					{{/if}}
					<p>{{:fulltext}}</p>
                </div>
             </script>
             
             <script id="news-full-item" type="text/x-jsrender">
           		<div class="news-full">
                	<h2>
						{{>title}}
					</h2>
					<p class="author">{{>displayDate}} {{>pubTime}}  _ {{>displayAuhtor}}</p>
					{{if enclosure}}
					<img style="width: 115px; height: 75px" src="{{>enclosure.url}}" />
					{{/if}}
					<p>{{:fulltext}}</p>
                </div>
             </script>
			<div data-role="footer" data-add-back-btn="true" data-theme="b" class="redline">
        		 <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Назад</a>  
			</div>

        </div>
        
        
        
         <div data-role="page" id="infopage"  data-theme="b">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="redline">
        		 <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Назад</a>
  
			</div>
            <div data-role="content" id="content">
				<img style="width: 172px; height: 26px; margin-top:3px" src="images/logo_ukr.gif" />
				<p>&copy; 2000-2013 "Українська правда"</p>
				
				<p>Передрук матеріалів тільки за наявності гіперпосилання на www.pravda.com.ua</p>
				
				<p>Керівник проекту: Георгій Гонгадзе</p>
				<p>Головний редактор: Олена Притула</p>
				<p>E-mail редакції: <a href="mailto:ukrpravda@gmail.com">ukrpravda@gmail.com</a></p>
				<p>Webmaster: <a href="mailto:webmaster@pravda.com.ua">webmaster@pravda.com.ua</a></p>
				
				<p>Мобильное приложение разработано в 2013 году.</p>
				<p>Разработчик: Олег Копачовец [<a href="mailto:copeus@gmail.com">copeus@gmail.com</a>]</p>            	
            </div>
        </div>
        
		<div data-role="page" id="settingspage"  data-theme="b">
        	<div data-role="header" data-add-back-btn="true" data-theme="b" class="redline">
        		 <a href="#" data-role="button" data-rel="back" data-icon="arrow-l" class="back-button">Назад</a>
  				<h1>Налаштування</h1>
			</div>
            <div data-role="content" id="content">
				<label for="slider-fill">Розмiр тексту:</label>
				<input type="range" name="font-size" id="font-size" value="13" min="8" max="20" data-highlight="true" />
				<p style="text-align: center">Приклад розмiру тексту</p>
            </div>
            <div data-role="content" id="content">
				<label for="slider-fill">Обновлення матерiалiв (хвилини):</label>
				<input type="range" name="update-period" id="update-period" value="13" min="1" max="20" data-highlight="true" />
            </div>
            
        </div>
		<div id="hiddenDiv" style="display:none"></div>
	</body>
</html>